body{
  background-color: #ccc;
}
.users-cards{
  text-align: center;
}
.user-card{
  display: inline-flex;
  max-width: 540px;
  min-height: 350px;
  background-color: white;
}
.user-card-avatar{
  width: 50%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
  filter: grayscale(80%);
  transition: filter 1s;
}
.user-card-avatar:hover{
filter: grayscale(0%);
}
.user-card-info{
  margin: auto;
}
.social-item{
  display: inline-block;
}